USE [master]
GO
/****** Object:  Database [Bank Loan DB]    Script Date: 14/05/2025 10:09:35 AM ******/
CREATE DATABASE [Bank Loan DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank Loan DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bank Loan DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank Loan DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bank Loan DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank Loan DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank Loan DB]
GO
/****** Object:  Table [dbo].[bank_loandata]    Script Date: 14/05/2025 10:09:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_loandata](
	[id] [int] NOT NULL,
	[address_state] [varchar](50) NOT NULL,
	[application_type] [varchar](50) NOT NULL,
	[emp_length] [varchar](50) NOT NULL,
	[emp_title] [varchar](max) NULL,
	[grade] [varchar](50) NOT NULL,
	[home_ownership] [varchar](50) NOT NULL,
	[issue_date] [date] NOT NULL,
	[last_credit_pull_date] [date] NOT NULL,
	[last_payment_date] [date] NOT NULL,
	[loan_status] [varchar](50) NOT NULL,
	[next_payment_date] [date] NOT NULL,
	[member_id] [int] NOT NULL,
	[purpose] [varchar](50) NOT NULL,
	[sub_grade] [varchar](50) NOT NULL,
	[term] [varchar](50) NOT NULL,
	[verification_status] [varchar](50) NOT NULL,
	[annual_income] [float] NOT NULL,
	[dti] [float] NOT NULL,
	[installment] [float] NOT NULL,
	[int_rate] [float] NOT NULL,
	[loan_amount] [int] NOT NULL,
	[total_acc] [tinyint] NOT NULL,
	[total_payment] [int] NOT NULL,
 CONSTRAINT [PK_bank_loandata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
